
Tier2-JavaSpring/tier2/src/main/resources/application.properties
Tier1-Blazor/JwtAuth-master 2/BlazorWasm/obj/Debug/net6.0/BlazorWasm.csproj.AssemblyReference.cache
tier3/src/main/resources/application.properties
