/* /Pages/Login.razor.rz.scp.css */
.card[b-8urcz78uys] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.field[b-8urcz78uys] {
    margin-top: 20px;
}

.loginbtn[b-8urcz78uys] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginbtn:hover[b-8urcz78uys]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* /Pages/LoginButtons.razor.rz.scp.css */
.icon[b-305jo1jag2] {
    width: 30px;
    cursor: pointer;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-1zyi5k7sc3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1zyi5k7sc3] {
    flex: 1;
}

.sidebar[b-1zyi5k7sc3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-1zyi5k7sc3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-1zyi5k7sc3]  a, .top-row[b-1zyi5k7sc3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-1zyi5k7sc3]  a:hover, .top-row[b-1zyi5k7sc3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-1zyi5k7sc3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-1zyi5k7sc3] {
        display: none;
    }

    .top-row.auth[b-1zyi5k7sc3] {
        justify-content: space-between;
    }

    .top-row[b-1zyi5k7sc3]  a, .top-row[b-1zyi5k7sc3]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1zyi5k7sc3] {
        flex-direction: row;
    }

    .sidebar[b-1zyi5k7sc3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1zyi5k7sc3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-1zyi5k7sc3]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-1zyi5k7sc3], article[b-1zyi5k7sc3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ab70abdmhw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ab70abdmhw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ab70abdmhw] {
    font-size: 1.1rem;
}

.oi[b-ab70abdmhw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ab70abdmhw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ab70abdmhw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ab70abdmhw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ab70abdmhw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ab70abdmhw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ab70abdmhw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ab70abdmhw] {
        display: none;
    }

    .collapse[b-ab70abdmhw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
