@page "/createadvice"

<PageTitle>Create New Advice</PageTitle>

<h1>Create Advice</h1>
<form>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" placeholder="Enter the advice">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="watercheck">
        <label class="form-check-label" for="watercheck">Water</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="eleccheck">
        <label class="form-check-label" for="eleccheck">Electricity</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>