@page "/creatwatereadvice"
@using BlazorWasm.Services
@inject ICreateAdvice Insert


<PageTitle>Create Water Advice</PageTitle>

<h1>Create Water Advice</h1>
<form>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" placeholder="Enter the advice" @bind="_desc">
    </div>
    @if (!string.IsNullOrEmpty(_errorLabel))
    {
        <div class="field">
            <label style="color: red">
                @_errorLabel
            </label>
        </div>
    }
    <button type="submit" class="btn btn-primary" @onclick="createAdvice">Submit</button>
</form>

@code{

    private string _desc;
    private string _errorLabel = "";
    
    private async Task createAdvice()
    {
        Console.WriteLine("My debug output.");
        _errorLabel = "";
        try
        {
            await Insert.CreateWaterAdviceAsync(_desc);
        //navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorLabel = $"Error: {e.Message}";
        }
    }

}
