@page "/PolicyExample1"
@using System.Security.Claims

<h3>PolicyExample</h3>

<div>Domain:</div>

<AuthorizeView Policy="MustBeUser">
    <p>This piece of text is only visible, if your role is User</p>
</AuthorizeView>

<br/>

<AuthorizeView>
    @context.User.Claims.First(c => c.Type.Equals("username")).Value
</AuthorizeView>

<div>Security level:</div>


@code {

}